* {
	padding: 0;
	margin: 0;
}
canvas {
	background: #eee;
	border-radius: 15px;
	display: block;
	margin: 60px auto;
}

.wrapp__text {
	height: 60px;
	position: absolute;
}

.wrapp {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.winner {
	font-size: 33px;
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 15px;
}
.loading {
	color: rgb(255, 51, 0);
	font-size: 23px;
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
}
