body {
	margin: 0;
	padding: 0;
	background: black;
}
ul li {
	list-style-type: none;
	font-family: sans-serif;
	font-weight: 600;
	font-style: italic;
	padding: 14px;
	font-size: 30px;
	color: rgb(5, 253, 253);
	background: rgb(8, 8, 236);
	text-align: center;
	border-radius: 30%;
}
ul {
	background: rgb(0, 0, 0);
	padding-left: 25%;
	padding-right: 25%;
}
