@font-face {
	font-family: "Lato";
	font-weight: normal;
	font-style: 400;
	font-display: swap;
	src: url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url("../fonts/Lato-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Lato-Bold.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff") format("woff");
}
