@mixin mont-reg {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
}
@mixin mont-bold {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
}
@mixin lato-bold {
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
}
@mixin lato-bold-it {
	font-family: "Lato";
	font-weight: 700;
	font-style: italic;
}
@mixin lato-reg {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
}
