@import "mixin";

.price {
	min-width: 320px;
	margin-top: -15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 12px;
	background-image: url("../images/bgr-footer.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	&__heading {
		margin-top: 15px;
		margin-bottom: 32px;
		line-height: 1.3;
		font-size: 28px;
		@include mont-bold();
		color: #ffffff;
		text-align: center;
	}

	&__box-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__item {
		cursor: pointer;
		width: 91%;
		margin-bottom: 18px;
		background-color: rgba(255, 255, 255, 0.2);
		text-align: center;
	}

	&__title {
		padding: 36px 0;
		background-color: rgba(255, 255, 255, 0.2);
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@include mont-reg();
	}

	&__price {
		margin: 30px auto 20px;
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@include mont-reg();
	}

	&__time {
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@include mont-reg();

		&::after {
			content: "";
			display: block;
			width: 60px;
			margin: 37px auto;
			border-bottom: 5px solid #8d81ac;
		}
	}

	&__description {
		padding: 0 20px;
		line-height: 1.3;
		font-size: 16px;
		text-align: center;
		height: 40px;
		color: #ffffff;
		@include mont-reg();
		margin-bottom: 36px;
		margin-top: 30px;
	}

	&__btn {
		background-color: rgba(255, 255, 255, 0.2);
		font-size: 15px;
		text-align: center;
		text-transform: uppercase;
		@include mont-reg();
		color: #ffffff;
		padding: 15px 37px;
		border-radius: 40px;
		margin-bottom: 36px;
	}

	&::before {
		content: "";
		display: block;
		width: 80%;
		margin: 0 auto;
		border-top: 2px solid #645766;
	}
}

.discount {
	cursor: pointer;
	width: 97%;
	margin-bottom: 18px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);

	&__title {
		padding: 43px 0;
		background-color: rgba(0, 0, 0, 0.1);
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		@include mont-reg();
	}

	&__price {
		margin: 14px auto 16px;
		font-size: 82px;
		text-align: center;
		text-transform: uppercase;
		@include mont-reg();
		color: #ffffff;
	}

	&__time {
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		@include mont-reg();
		color: #ffffff;

		&::after {
			content: "";
			display: block;
			width: 60px;
			margin: 46px auto;
			border-bottom: 5px solid #8d81ac;
		}
	}

	&__description {
		margin-bottom: 83px;
		margin-top: 40px;
		padding: 0 20px;
		height: 40px;
		font-size: 16px;
		line-height: 1.3;
		text-align: center;
		@include mont-reg();
		color: #ffffff;
	}

	&__btn {
		background-color: rgba(255, 255, 255, 0.2);
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		@include mont-reg();
		padding: 18px 48px;
		border-radius: 40px;
		margin-bottom: 47px;
		color: #ffffff;
	}
}

@media screen and (min-width: 481px) {
	.price {
		&__heading {
			margin-top: 88px;
			margin-bottom: 39px;
			font-size: 42px;
		}

		&__box-items {
			width: 90%;
			display: flex;
			flex-wrap: wrap;
			justify-content: end;
			align-items: center;
			flex-direction: row;
		}

		&__item {
			width: 42%;
			margin-bottom: 71px;
		}

		&__title {
			font-size: 4vmax;
		}
	}

	.discount {
		width: 48%;
		margin-bottom: 71px;

		&__title {
			font-size: 5vmax;
		}
	}

	.price__item:nth-child(even) {
		margin-left: 28px;
	}
}

@media screen and (min-width: 993px) {
	.price {
		&__heading {
			margin-top: 112px;
			margin-bottom: 112px;
			font-size: 48px;
		}

		&__box-items {
			padding-left: 5%;
			padding-right: 5%;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		&__item {
			height: auto;
			width: calc(23.33% - 23px);
			margin-bottom: 130px;
		}

		&__title {
			font-size: 2vmax;
		}
	}

	.discount {
		height: auto;
		width: calc(30% - 30px);
		margin-bottom: 130px;

		&__title {
			font-size: 3vmax;
		}
	}

	.price__item:nth-child(even) {
		margin-left: 0;
	}
}
