@import "mixin";

.reviews {
	min-width: 320px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: url("../images/bgr-sec.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 6px;

	&__container {
		text-align: center;
		padding: 57px 10px 15px;
	}

	&__title {
		font-size: 36px;
		color: #ffffff;
		@include mont-bold();
		margin-bottom: 53px;
		line-height: 1.3;
	}

	&__item {
		margin-bottom: 45px;
	}

	&__logo {
		margin-bottom: 33px;
	}

	&__review-txt {
		@include lato-bold-it();
		font-size: 16px;
		color: #ffffff;
		line-height: 1.4;
	}

	&__description {
		@include lato-reg();
		font-size: 14px;
		color: #a291a5;
		line-height: 1.4;
		margin-bottom: 22px;
	}
}

@media screen and (min-width: 481px) {
	.reviews {
		&__title {
			font-size: 42px;
			margin-bottom: 85px;
		}

		&__box-reviews {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			min-height: 130px;
			margin-bottom: 58px;
		}

		&__review-txt {
			line-height: 1.5;
			padding-left: 10%;
			padding-right: 10%;
		}

		&__description {
			padding-left: 4%;
			padding-right: 4%;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}
}

@media screen and (min-width: 993px) {
	.reviews {
		&__title {
			font-size: 48px;
			margin-top: 108px;
			margin-bottom: 81px;
		}

		&__item {
			width: 33%;
			margin-bottom: 112px;
		}

		&__review-txt {
			padding-left: 13%;
			padding-right: 13%;
		}

		&__description {
			padding-left: 11%;
			padding-right: 11%;
		}
	}
}
