*,
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	background-color: rgba(0, 0, 0, 0.9);
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.list {
	max-width: 600px;
	margin-top: 50px;
	list-style-type: decimal;
	text-align: center;
}
.item {
	border-radius: 25px;
	padding: 22px;
	background-color: rgba(0,0,0);
	font-family: sans-serif;
	font-size: 22px;
	color:rgb(4, 171, 248);
	margin-bottom: 45px;
}
/* .item__title {} */

.episode {
	margin-top: 15px;
}
.characters {
	margin-top: 15px;
	margin-bottom: 15px;
}
.short-content {
	line-height: 1.4;
}
.title-text{
	color: rgb(250, 2, 151);
	font-weight: bold;
	text-shadow: -1px 1px 1px yellow;
}
