body {
	background-color: rgb(11, 80, 80);
}

h3 {
	color: rgb(4, 255, 255);
}
ul li,
h3 {
	font-family: sans-serif;
	font-style: italic;
	margin-bottom: 15px;
	text-align: center;
}
ul {
	width: 115px;
	margin: 5% auto;
	padding: 3px 15px;
	box-shadow: 0px 0px 6px 0px rgb(4, 255, 255);
}

ul li {
	list-style: none;
	font-weight: bold;
	padding-bottom: 5px;
	color: rgb(4, 255, 255);
}

li:last-child {
	color: rgb(19, 15, 15);
}
