*,
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	background: rgb(0, 0, 0);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	margin-top: 40px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: yellow;
	background: tomato;
	text-shadow: 1px 1px 0px black;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 10px;
	border: solid 3px rgb(6, 199, 247);
	border: solid 3px #9acd32;
	outline: none;
}

.container-info {
	width: 400px;
	text-align: center;
	margin-top: 50px;
}
.location-data {
	color: #9acd32;
	margin: 15px;
	font-size: 20px;
	font-family: sans-serif;
}

.error {
	color: red;
}

.arrow {
	color: white;
}

.description {
	color: rgb(57, 214, 253);
}
