* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1280;
  margin: 60px 100px 30px 100px;
}

.heading-one {
  margin-bottom: 40px;
}

.logo-link {
  text-decoration: none;
  font-size: 80px;
  color: #000000;
}

.logo-mda-js {
  color: rgb(30, 155, 233);
}

.navbar {
  text-align: center;
  margin-bottom: 50px;
  background-color: #35444f;
  border: 3px solid #35444f;
}

.navbar-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 15px 25px;
}

.navbar-link:hover {
  transition: 0.3s;
  transform: scale(1.1);
  background-color: #222f3a;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(28, 144, 240, 0.698);
}

.image-ram {
  float: right;
  border: 1px solid #000000;
  padding: 75px 205px 75px 205px;
}

.image:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.sidebar {
  float: left;
  border: 1px solid #000000;
}

.link-sidebar {
  font-size: 26.5px;
  color: #495863;
  text-decoration: none;
  display: block;
  line-height: 70px;
  margin: 3px 13px;
  padding: 0 25px;
}

.link-sidebar:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: #000;
  text-align: center;
  background-color: #dbdbdb;
  box-shadow: 0 2px 2px rgba(75, 80, 83, 0.48);
}

.main-content {
  float: right;
  margin: 35px 0 55px 330px;
}

.content-paragraph {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin: 30px 0;
}

.menu-footer {
  text-align: center;
  clear: both;
  background-color: rgba(99, 105, 110, 0.48);
}

.link-footer {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
  color: #0c1927;
  margin-left: 23px;
}

.link-footer:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgb(30, 155, 233);
}

.copyright {
  display: inline-block;
  font-size: 20px;
  line-height: 60px;
  color: #010101;
  margin-left: 60px;
}
